@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits UmbracoViewPage<GradimoZajedno.Core.ViewModels.Pages.CityViewModel>

@using ContentModels = GradimoZajedno.Models.Generated;
<div class="cards">
    <div class="cards__bg has-cover" style="background-image: url(/assets/images/dots-3.png);"></div>
    <div class="wrap swiper js-swiper-cards">
        <div class="cards__img-wrap">
            <div class="cards__img-holder">
                @{
                    var settlmentImage = Model.CurrentSettlement.Image as MediaWithCrops;
                    <div class="cards__img has-cover" style="background-image: url(@settlmentImage.Url());"></div>
                }
            </div>
        </div>

        @await Html.PartialAsync("_Carousel", Model.CurrentSettlement)
        
        <div class="cards__pagination js-cards-pagination"></div>
        <div class="swiper-pagination"></div>
        <div class="cards__navigation">
            <button type="button" class="cards-button-prev btn-navigation cards__btn cards__btn--prev">
                <span class="icon font-ico-arrow-left"></span>
                <span class="sr-only">@Umbraco.GetDictionaryValue("City.Carousel.Previous")</span>
            </button>
            <button type="button" class="cards-button-next btn-navigation cards__btn cards__btn--next">
                <span class="icon font-ico-arrow-right"></span>
                <span class="sr-only">@Umbraco.GetDictionaryValue("City.Carousel.Next")</span>
            </button>
        </div>
    </div>
</div>

<div class="basic-block">
	<div class="wrap">
		<div class="basic-block__content">
			<p class="text basic-block__text">@Model.Description</p>
		</div>
	</div>
</div>