@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits UmbracoViewPage<GradimoZajedno.Core.ViewModels.Pages.CityViewModel>

@using ContentModels = GradimoZajedno.Models.Generated;
<div class="cards">
    <div class="cards__bg has-cover" style="background-image: url(/assets/images/dots-3.png);"></div>
    <div class="wrap swiper js-swiper-cards">
        <div class="cards__img-wrap">
            <div class="cards__img-holder">
                @{
                    var settlmentImage = Model.CurrentSettlement.Image as MediaWithCrops;
                    <div class="cards__img has-cover" style="background-image: url(@settlmentImage.Url());"></div>
                }
            </div>
        </div>

        @await Html.PartialAsync("_Carousel", Model.CurrentSettlement)
        
        <div class="swiper-pagination cards__pagination js-cards-pagination"></div>
    </div>
</div>
<div class="basic-block">
	<div class="wrap">
		<div class="basic-block__content">
			<p class="text basic-block__text">@Model.Description</p>
		</div>
	</div>
</div>

<div class="js-object-global-cont">
    <div class="wrap">
        <div class="items__header">
            <button type="button" class="btn filters-btn js-filters-btn">{{filtersBtn}}</button>
                <div class="filters js-filters">
                    <button type="button" class="filters__close-btn js-filters-close-btn">
                        <span class="icon"></span>
                        <span class="sr-only">@Umbraco.GetDictionaryValue("Form.Close")</span>
                    </button>
                    <div class="filters__row js-objects-top-filter-row">
                    </div>
                    <div class="filters__row js-objects-bottom-filter-row">
                    </div>
                </div>
        </div>
        <div class="items__content js-object-item-container">
        </div>

    </div>
</div>
