<div class="js-object-global-cont">
	<div class="wrap">
		<div class="items__header">
			<button type="button" class="btn filters-btn js-filters-btn">{{filtersBtn}}</button>
				<div class="filters js-filters">
					<button type="button" class="filters__close-btn js-filters-close-btn">
						<span class="icon"></span>
						<span class="sr-only">Close</span>
					</button>
					<div class="filters__row js-objects-top-filter-row">
					</div>
					<div class="filters__row js-objects-bottom-filter-row">
					</div>
				</div>
		</div>
		<div class="items__content js-object-item-container">
		</div>

	</div>
</div>
