<div class="error-mod">
	<div class="wrap">
		<div class="error-mod__content">
			<h1 class="h1 error-mod__title">{{title}}</h1>
			<p class="text error-mod__text">{{text}}</p>
			<a class="btn error-mod__link" href="{{link.url}}">{{link.text}}</a>
		</div>
	</div>
</div>
