@inherits UmbracoViewPage<IPublishedContent>
@using GradimoZajedno.Common.Extensions;

<div class="cards__content swiper-wrapper">
@{
    int i = 0;
    foreach (var item in Model.Children)
    {
        <div class="card js-card swiper-slide card-@i" data-id="@i">
            <div class="card__info">
                <h2 class="card__title">@item.Value("title")</h2>
                <p class="card__text">@Html.Raw(((string)item.Value("description")).ReplaceNewLinesWithLineBreaks())</p>
            </div>
        </div>
        i++;
    }
}
</div>
