<div class="stories js-popup-parent">
	<div class="wrap">
		<div class="stories__header">
			<h1 class="h1 stories__title">{{title}}</h1>
			<p class="text stories__text">{{text}}</p>
			<button type="button" class="btn stories__btn js-popup-btn">{{btn}}</button>
		</div>
		<div class="stories__body js-stories-container">
		</div>
		{{> pagination pagination}}
		{{> popup popup}}
	</div>
</div>
