// ----------  header
// ------------------------------------------------------------------------------
.header {
	padding: 50px 0;
	background: transparent;
	@include media-breakpoint-down(md) {
		padding: 30px 0;
	}
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@include media-breakpoint-down(md) {
		align-items: center;
	}
}
.header__logo {
	height: 70px;
}
.nav {
	flex: 1;
	height: 100%;
	position: relative;
	@include media-breakpoint-down(md) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	@include media-breakpoint-down(md) {
		order: 2;
		flex: 0;
	}
}
.nav--active {
	.nav__btn-icon {
		background-color: transparent;
		&::after {
			transform: rotate(45deg);
			margin-top: 0;
		}
		&::before {
			transform: rotate(-45deg);
			margin-top: 0;
		}
	}
	.nav__list {
		position: fixed;
		top: 110px;
		left: 0;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		background-color: $white;
		padding: 20px 0;
	}
	.nav__item {
		width: 100%;
		margin: 0;
	}
	.nav__link {
		display: block;
		font-size: 20px;
		width: 100%;
		padding: 20px 15px;
		border-bottom: 2px solid $grey;
	}
}
.nav__btn {
	display: none;
	padding: 10px;
	transition: $transition;
	position: relative;
	bottom: 5px;
	@include hover {
		opacity: 0.7;
	}
	@include media-breakpoint-down(md) {
		display: block;
	}
}
.nav__btn-icon {
	height: 3px;
	display: inline-block;
	background-color: $purple;
	width: 30px;
	border-radius: 5px;
	position: relative;
	transition: $transition;
	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background-color: $purple;
		width: 35px;
		height: 3px;
		border-radius: 5px;
		transition: $transition;
	}
	&::after {
		margin-top: 10px;
	}
	&::before {
		margin-top: -10px;
	}
}
.nav__list {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	@include media-breakpoint-down(md) {
		display: none;
	}
}
.nav__item {
	margin: 5px 20px;
}
.lang-toggle {
	@include media-breakpoint-down(md) {
		order: 1;
	}
}
.lang-toggle__label {
	position: relative;
	display: inline-block;
	width: 98px;
	height: 24px;
	background-color: $purple;
	border-radius: 8px;
}
.lang-toggle__input {
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	position: relative;
	cursor: pointer;
	&:checked {
		+ .lang-toggle__slider {
			&::before {
				transform: translateX(48px);
				content: 'ENG';
			}
			.lang--en {
				opacity: 0;
			}
			.lang--srb {
				opacity: 1;
			}
		}
	}
}
.lang-toggle__slider {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: $white;
	border-radius: 6px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&::before {
		position: absolute;
		content: 'SRB';
		width: 48px;
		left: -1px;
		top: -1px;
		bottom: 0;
		border-radius: 6px;
		background-color: $purple;
		color: $white;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		z-index: 0;
	}
	.lang {
		color: $purple;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
	}
	.lang--srb {
		opacity: 0;
	}
	.lang--en {
		opacity: 1;
	}
}
