// ---------- pagination
// ------------------------------------------------------------------------------

.pagination {
	width: 100%;
	padding: 30px 0;
}
.pagination__content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination__list {
	display: flex;
	gap: 16px;
}
.pagination__link {
	color: $purple;
	background-color: $white;
	padding: 6px 12px;
	border-radius: 20px;
	border: 2px solid $purple;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	transition: $transition;
	@include hover {
		opacity: 0.7;
	}
}
.pagination__link--active {
	background-color: $purple;
	color: $white;
}
